
// colors

$primary:#12688D;
$secondary:#212529;
$text-color:#808E9B;
$text-dark:#495057;
$white:#fff;
$black:#000;
$gray-color:#EFEFEF;
$bg-color:#051A27;
$services-bg:#00BDE7;
$f4:#F4F4F4;
$dark-color:#101417;
$gray-color:#F4F6F6;

// font family

$cartoGothic:'CartoGothic Std';
$cubin:'Cabin', sans-serif;
$sora:'Sora', sans-serif;