
.cloud-services-sec{
    padding-top: 8rem;
    @include media-max(767px){
        padding-top: 6rem;
    }
    .cloud-service-row {
        padding-left: 20.9rem;
        @include media-max(1200px){
            padding-left: 7rem;
            gap: 3rem 4rem;
        }
        @include media-max(767px){
            padding-left: 0;
        }
        gap: 3rem 12.2rem;
        .left-col {
            width: calc(65.2% - 6.1rem);
            @include media-max(1200px){
                width: calc(65.2% - 2rem);
            }
            @include media-max(767px){
                width: 100%;
            }
        }
        .right-col {
            width: calc(34.8% - 6.1rem);
            @include media-max(1200px){
                width: calc(34.8% - 2rem);
            }
            @include media-max(767px){
                width: 100%;
            }
            
        }
        .desc-block {
            p {
                margin-bottom: 1.1rem;
            }
        }
    }
    .cloud-img-block {
        @include img-block(20.5rem);
        margin-top: 6.5rem;
        @include media-max(767px){
            height: 28rem;
            margin-top: 0;
        }
    }
}

// cloud services list section

.cloud-services-list-sec {
    .cloud-list-row {
        gap: 0 1.6rem;
        .cols {
            width: calc(33.333% - 1.66rem);
            @include media-max(1200px){
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 0 1.6rem;
            }
            @include media-max(575px){
                width: 100%;
            }
            &:nth-child(even){
                margin-top: 4.7rem;
                @include media-max(1200px){
                    margin-top: 0;
                }
            }
        }
    }
}

.cloud-service-card {
    position: relative;
    padding: 3.4rem 2.8rem;
    background-color: #F7F8F9;
    margin-bottom: 2.4rem;
    @include media-max(1200px){
        width: calc(50% - .8rem);
    }
    @include media-max(680px){
        width: 100%;
    }
    &:hover {
        &::before {
            height: 100%;
        }
        .icon-block {
            img {
                filter: brightness(0) invert(1);
            }
        }
        .title,p {
            color: $white;
        }
        .text-btn {
            background: var(--gradient, linear-gradient(219deg, #fff 0%, #fff 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .icon {
                border-color: $white;
                img {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        background-color: $primary;
        z-index: 1;
        @include transition;
    }
    .inner-content {
        position: relative;
        z-index: 2;
    }
    .icon-block {
        width: 4.8rem;
        height: 4.8rem;
        overflow: hidden;
        margin-bottom: 2.7rem;
        img {
            @include transition;
        }
    }
    .title {
        @include sizing(2.8rem,3.6rem,400,#183B56);
        letter-spacing: 0.2px;
        margin-bottom:  1rem;
        @include transition;
        @include media-max(767px){
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }
    p {
        margin-bottom: 2.2rem;
        @include transition;
    }
}

.cloude-bottom-desc {
    padding-bottom: 8rem;
    @include media-max(767px){
        padding-bottom: 6rem;
    }
}

.cloud-bottom-intro {
    max-width: 92.8rem;
    text-align: center;
}